<div class="countdown">
    <div class="time-box">
        <span>Days</span>
        <div class="time">
          {{days}}
        </div>
    </div>
    <div class="time-box">
        <span>Hours</span>
        <div class="time">
          {{hours}}
        </div>
    </div>
    <div class="time-box">
        <span>Minutes</span>
        <div class="time">
           {{minutes}}
        </div>
    </div>
    <div class="time-box">
        <span>Seconds</span>
        <div class="time">
          {{seconds}}
        </div>
    </div>

</div>